<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SVG Viewer</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="app">
        <h1>Select SVGs</h1>
        <div id="formContainer" class="svg-form">
            <!-- The checkboxes will be added here -->
        </div>

        <div id="result" class="result">
            <!-- The resulting SVG will be added here -->
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>

